.pokedex {
    min-height: 100vh;
}

.pokedex__wave {
    font-size: 1.8rem;
    padding: 40px 40px 10px;
    text-align: justify;
}

.pokedex__wave span {
    color: #FE1936;
}

.pokedex__filters {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.pokedex__form {
    width: 40%;
    margin: auto;
    min-width: 250px;
    display: flex;   
}

.pokedex__form input {
    height: 50px;
    width: 80%;
    min-width: 150px;
}

.pokedex__form button {
    width: 150px;
}

.pokedex__form-number {
    margin: auto;
    padding: 10px;
}

.pokedex__form-number input {
    width: 150px;
    height: 50px;
}

.pokedex__container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (width < 400px) {
    .pokedex__wave {
        padding-top: 30px ;
    }

    .pokedex__form button {
        width: 100px;
    }

    .pokedex__wave {
        padding: 40px 20px 10px;
        text-align: left;
    }
}